.runnutrition {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 30px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.exerciseTitle {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  line-height: 1;
  position: relative;
  flex-shrink: 0;
  font-size: 26px;
  color: white;
  text-align: right;
  white-space: nowrap;
  font-variation-settings: 'wdth' 100;
}

.headerParent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  flex-shrink: 0;
}

.header2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  font-style: normal;
  padding-bottom: 17px;
  padding-top: 5px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  flex-shrink: 0;
  width: 362px;
}

.exerciseTitle2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  position: relative;
  flex-shrink: 0;
  font-size: 15px;
  color: white;
  white-space: nowrap;
}

.exerciseTitle3 {
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.49;
  min-width: 100%;
  position: relative;
  flex-shrink: 0;
  font-size: 13px;
  color: white;
  width: min-content;
}

